<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="32000">
		<setting id="check_time" label="32001" default="1" type="slider" range="1,1,30"/>
		<setting id="inactivity_time" label="32002" type="slider" default="25" range="1,1,30"/>
		<setting id="min_connection_time" label="32011" type="slider" default="5" range="1,1,30"/>
		<setting id="notify" label="32006" type="bool" default="true"/>
		<setting id="notify_sound" label="32009" type="bool" default="true" visible="eq(-1,true)"/>
		<setting id="notify_sound_playing" label="32010" type="bool" default="true" visible="eq(-1,true)+eq(-2,true)"/>
		<setting id="use_screensaver" label="32007" type="bool" default="false"/>
		<setting id="debug" label="32008" type="bool" default="false"/>
		<setting id="show_gui" label="32003" type="action" action="RunScript(service.bluetooth.watcher)"/>
		<setting id="disconnect_now" label="32012" type="action" action="RunScript(service.bluetooth.watcher,disconnect_now)"/>
		<setting id="devices_to_disconnect" label="32004" type="text" visible="false" default=""/>
	</category>
</settings>
